<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table th:border="1">
        <tr>
            <th th:text="seq" th:width="50"></th>
            <th th:text="name" th:width="100"></th>
            <th th:text="age" th:width="100"></th>
        </tr>
        <tr th:each="person : ${list}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.personName}"></td>
            <td th:text="${person.age}"></td>
        </tr>
    </table>
</body>
</html>